body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.react-datepicker__input-container {
  width: 100% !important;
}


.list-group-class.list-group-item .glyphicon.glyphicon-trash, .list-group-class.list-group-item {
  cursor: pointer!important;
}



table th, table td {
  text-align: center;
}

.searches-container {
    height: 240px;
    overflow-y: auto;
}
