

:global(.react-datepicker__input-container) {
  width: 100% !important;
}

:global(.react-datepicker-wrapper) {
  width: 100% !important;
}



:global(.details-contailner) {
    cursor: pointer!important;
}

:global(.trash-class) {
    cursor: pointer!important;
}



table th, table td {
  text-align: center;
}

:global(.searches-container ){
    height: 240px;
    overflow-y: auto;
}