

.react-datepicker__input-container {
  width: 100% !important;
}


:global(.list-group-class.list-group-item){ 
  cursor: pointer!important;
}

:global(.list-group-class.list-group-item) {
    cursor: pointer!important;
}


table th, table td {
  text-align: center;
}

:global(.searches-container ){
    height: 240px;
    overflow-y: auto;
}